{{#if success_msg}}
    <div class="alert alert-success mt-4">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger mt-4">{{error_msg}}</div>
{{/if}}

{{#if warning_msg}}
    <div class="alert alert-warning mt-4">{{warning_msg}}</div>
{{/if}}